spring:
  application:
    name: gestrest	 

  datasource:
    url: jdbc:postgresql://localhost:5432/gestrest
    driver-class-name: org.postgresql.Driver
    username: admin
    password: admin
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  mvc:
    problemdetails:
      enabled: true

server:
  port: 8080

logging:
  level:
    root: INFO
    org.springframework.web: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

gestrest:
  jwt:
    secret: "gestrest-super-secret-key-32-chars-minimo-123"
    expiration-minutes: 60